/* General Styles */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer */
footer {
    background-color: #3a3434;
}

footer ul li a:hover {
    color: hwb(54 2% 5%);
}

footer .links-footer, footer #copyright {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px 40px;
    list-style-type: none;
}

footer .links-footer li a, footer #copyright li a {
    color: rgb(208, 212, 218);
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Navbar */
header nav {
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 3px;
    
}





header nav div p {
    font-size: 50px;
    color: rgb(211, 213, 216);
}

header nav .nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    column-gap: 30px;
}

header nav .nav-links li {
    list-style-type: none;
    width: 100px;
    height: 60px;
    flex-shrink: 0;
}

header nav .nav-links li a {
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

header nav .nav-links li a img {
    padding-left: 35px;
    width: 30px;
    height: 30px;
}

header nav .nav-links li a p {
    text-align: center;
}

header nav .nav-links li a:hover, header nav .nav-links li:hover {
    background-color: hwb(54 2% 5%);
    color: black;
    cursor: pointer;
}

/* Hero Section */
.About {
    background-color: rgb(49, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.About .content {
    width: 300px;
    padding: 50px;
    text-align: justify;
    font-size: 45px;
    color: white;
    font-weight: bold;
}

.About .content span {
    color: rgb(241, 226, 5);
    font-size: 50px;
    font-style: italic;
}

.About img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgb(241, 226, 5);
    object-fit: cover;
}

/* Sections */
#sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    background-color: rgba(49, 46, 46, 0.658);
    padding: 30px;
}

/* About Me */
#sections .aboutme {
    background-color: rgb(49, 46, 46);
    border-radius: 10px;
    color: white;
}

#sections .aboutme h1, #sections #skills #skill, #sections .projects h1, .learning #learnings {
    color: rgb(241, 226, 5);
    font-size: 40px;
    text-align: center;
}

/* Skills */
#sections #skills {
    background-color: rgb(49, 46, 46);
    border-radius: 10px;
}

#sections #skills .skillimg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 30px;
    margin: 20px;
}

#sections #skills .skillimg #sk {
    background-color: #fff;
    width: 230px;
    height: 215px;
    border-radius: 15px;
    border: 1px solid rgb(65, 63, 63);
    text-align: center;
    padding: 15px;
}

#sections #skills .skillimg #sk img {
    width: 100px;
    height: 100px;
}

#sections #skills .skillimg #sk #title {
    font-size: 30px;
    color: rgb(42, 9, 131);
    font-weight: bold;
}

#sections #skills .skillimg #sk #level {
    font-size: 20px;
    color: #1f1d1d;
}

/* Projects */
.projects .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
    margin-top: 10px;
}

.projects .project .projectSingle {
    height: 200px;
    width: 200px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid rgb(65, 63, 63);
    text-align: center;
}

.projects .project .projectSingle img {
    width: 120px;
    height: 110px;
}

.projects .project .projectSingle a:hover {
    color: blue;
}

/* Learning */
.learning .platforms {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding-top: 10px;
}

.learning .platforms .platform {
    background-color: #fff;
    border-radius: 15px;
    width: 220px;
    height: 200px;
    text-align: center;
    padding: 15px;
}

.learning .platforms .platform img {
    width: 120px;
    height: 120px;
}

.learning .platforms .platform a {
    color: green;
    font-size: 25px;
}

.learning .platforms .platform a:hover {
    color: blue;
}

/* Resume & Feedback */
#sections .resume {
    background-color: rgb(49, 46, 46);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}

.resume .mainhead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resume .mainhead .clickable {
    width: 350px;
    height: 400px;
    padding: 30px;
}

.resume .mainhead .clickable img, .resume .mainhead .feedbacks img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
}

.resume .mainhead .feedbacks textarea {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}

/* Contact */
#sections .contact {
    background-color: rgb(49, 46, 46);
    border-radius: 10px;
}

#sections .contact .cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.contact .social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    justify-content: flex-start;
}

.contact .info label {
    font-size: 25px;
    color: #fff;
}

.contact .info #submitbtn {
    border-radius: 10px;
    outline: none;
    width: 100px;
    padding: 10px;
    background-color: #e98707;
    color: white;
    border: 2px solid #e98707;
    font-size: 20px;
}

.contact .info #submitbtn:hover {
    background-color: #0b3d5f;
}
